* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: #222;
  color: beige;
  font-family: "Inter", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 30px 0 40px;
  text-align: center;
  font-size: 46px;
}

.player-container {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-player {
  box-sizing: border-box;
  padding: 15px 0;
  background-color: #222;
  border: 2px solid #444;
  border-width: 0 0 3px 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: #c2529b;
  transition: all 0.3s ease;
}

.input-player:focus {
  outline: none;
  border-bottom: 3px solid #9e3379;
}

.input-player:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  -webkit-text-fill-color: #c2529b;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 50px #222 inset;
  -webkit-text-fill-color: #c2529b;
}

.btn {
  padding: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #c2529b;
  color: #eee;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  color: #222;
  background-color: ivory;
}

.btn:active {
  background-color: #111;
  color: #eee;
}

.player-display {
  display: none;
  height: 100px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 22px;
  cursor: default;
}

.result span {
  font-weight: 200;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 600px;
  height: 550px;
  cursor: pointer;
  pointer-events: none;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 198px;
  font-weight: 200;
  width: 33.33%;
  height: 33.34%;
  background-color: #303030;
  border: 1px solid #444;
  user-select: none;
}

.field.taken {
  transition: background-color 0.4s ease-out;
}

.field.winner {
  background-color: #2d634b;
}

.field.end {
  cursor: default;
}

@media (hover: hover) {
  .field:hover {
    background-color: #444;
  }
  .field.end:hover {
    background-color: #303030;
  }
  .field.taken:active {
    background-color: darkred;
    transition: none;
  }
  .field.end:active {
    background-color: #303030;
    transition: none;
  }
  .field.winner:hover {
    background-color: #2d634b;
  }
}
