* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: #222;
  color: beige;
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #eee;
}

#container {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 40px;
  text-align: center;
  font-size: 46px;
}

h1 span.material-symbols-outlined {
  font-size: 48px;
  margin-right: 10px;
  color: #c2529b;
}

.player-container {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 1.4;
}

.player-display {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.player-display-player2 {
  align-items: end;
}

.name-display {
  font-size: 38px;
  font-weight: 400;
  color: #c2529b;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-player {
  box-sizing: border-box;
  padding: 15px 0;
  background-color: #222;
  border: 2px solid #444;
  border-width: 0 0 3px 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: #c2529b;
  transition: all 0.3s ease;
}

.input-player:focus {
  outline: none;
  border-bottom: 3px solid #9e3379;
}

.input-player:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  -webkit-text-fill-color: #c2529b;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 50px #222 inset;
  -webkit-text-fill-color: #c2529b;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  padding: 8px 46px 8px 3px;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #e7e7e7;
  color: #222;
  border: 0;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn span,
.controls .btn span {
  padding: 5px;
  font-size: 29px;
  color: #e7e7e7;
  background-color: #c2529b;
  border-radius: 50%;
  margin-bottom: 2px;
}

.controls .btn span {
  padding: 9px;
}

.btn-next-round {
  margin-bottom: -124px;
  padding: 28px 42px;
  font-size: 23px;
  background-color: #c2529b;
  color: #eee;
}

.btn-start-game {
  margin-top: 12px;
}

.btn:hover {
  color: #222;
  background-color: ivory;
}

.btn:active {
  background-color: #111;
  color: #eee;
}

.btn:active span {
  background-color: #111;
  color: #eee;
}

.btn-player-name {
  background-color: #c2529b;
  color: #eee;
}

.btn-player-name:hover {
  background-color: #d565ae;
  color: #eee;
}

.btn-player-name span {
  background-color: #d885ba;
}

.btn-player-name:active span {
  background-color: #d885ba;
}

.player-display {
  display: none;
  height: 120px;
}

.player {
  display: flex;
  color: #c2529b;
}

.wins-display,
.mark-display {
  display: flex;
  justify-content: start;
  align-items: center;
}

.wins {
  transition: transform 0.2s ease-in;
  transform: scale(1);
  z-index: 3;
}

.wins.scale {
  transform: scale(60);
}

.player-display-player1 div > span {
  margin-right: 10px;
}

.player-display-player2 div > span:nth-of-type(2) {
  margin-left: 10px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 22px;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 600px;
  height: 550px;
  cursor: pointer;
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 124px;
  font-size: 47px;
  font-weight: 500;
  line-height: 1.3;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
  transition: opacity 0.6s ease-out;
}

.controls span {
  font-size: 40px;
  font-weight: 200;
  margin-left: 6px;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 198px;
  font-weight: 200;
  width: 33.33%;
  height: 33.34%;
  background-color: #262626;
  border: 1px solid #444;
  user-select: none;
}

.field1 {
  border-radius: 20px 0 0;
}

.field3 {
  border-radius: 0 20px 0 0;
}

.field7 {
  border-radius: 0 0 0 20px;
}

.field9 {
  border-radius: 0 0 20px 0;
}

.field.taken {
  transition: background-color 0.2s ease-out;
}

.field.winner {
  background-color: #2d634b;
}

@media (hover: hover) {
  .field:hover {
    background-color: #303030;
  }
  .field.end:hover {
    background-color: #303030;
  }
  .field.taken:active {
    background-color: #491326;
    transition: none;
  }
  .field.end:active {
    background-color: #303030;
    transition: none;
  }
  .field.winner:hover {
    background-color: #2d634b;
  }
}
